body{
    background-color: antiquewhite;
    color: rgb(1, 1, 15);
}

.tit{
    background-color: rgb(238, 201, 153);
    color: rgb(6, 6, 142);
}
.con{
    background-color: rgb(93, 108, 23);
    color: rgb(1, 1, 15);
}